spring:
  application:
    name: greeting-service
  config:
    import: optional:configserver:http://localhost:8888/
  cloud:
    config:
      profile: qa
management:
  endpoints:
    web:
      exposure:
        include:
        - "*"
greeting-service:
  greeting: "hello"
  default-value: "world"
  
